{% extends 'base.html' %}


{% block content %}
  <h1>Day Detail</h1>
  
  <h2>{{ day.name }}</h2>
  <form action="{% url 'search_recipes' week.pk day.pk %}" method="get">
    <input type="text" name="query" placeholder="Search recipes" value="{{ query }}">
    <button type="submit">Search</button>
  </form>
  
  {% if recipes %}
    <h3>Recipes</h3>
    <ul>
      {% for recipe in recipes %}
        <li>
          <h4>{{ recipe.strMeal }}</h4>
          <img src="{{ recipe.strMealThumb }}" alt="{{ recipe.strMeal }}">
          <p>{{ recipe.strInstructions }}</p>
          <h5>Ingredients:</h5>
          <ul>
            {% for key, value in recipe.items %}
              {% if key|slice:"0:13" == "strIngredient" and value %}
                <li>{{ value }}</li>
              {% endif %}
            {% endfor %}
          </ul>

          <a href="{{ recipe.strYoutube }}">Watch the Recipe Video</a>
          <a href="{{ recipe.strSource }}">Recipe Source</a>
        </li>
      {% empty %}
        <li>No recipes found</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No recipes found</p>
  {% endif %}

  {% if recipes %}
    <form method="POST" action="{% url 'search_recipes' week.pk day.pk %}">
        {% csrf_token %}
        <label for="recipe">Recipes:</label>
        <select name="recipe_id" id="recipe">
            <option value="">Select a recipe</option>
            {% for recipe in recipes %}
                <option value="{{ recipe.idMeal }}">{{ recipe.strMeal }}</option>
            {% endfor %}
        </select>
        <button type="submit">Save Recipe</button>
    </form>
{% endif %}
{% endblock %}
