{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to My Recipe Planner</h1>
  
  <h2>Weeks</h2>
  {% if weeks %}
    <ul>
      {% for week in weeks %}
        <a href="{% url 'week_detail' week.id %}">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ week.name }}</span>
            </div>
          </div>
        </a>
      {% endfor %}
    </ul>
  {% else %}
    <p>Start by adding a Week</p>
    <a href="{% url 'week_create' %}">Create Week</a>
  {% endif %}
{% endblock %}
