{% extends 'base.html' %}

{% block content %}
<div class="week-background"></div>
  <h1 class="center-align white-text week-bg-text">{{ week.name }}</h1>
  
  <h3 class="white-text">Days</h3>
  <button class="waves-effect waves-light btn" ><a href="{% url 'days_create' week.pk %}">Add Day Of The Week</a></button>
  <ul>
    {% for day in week.day_set.all %}
    <a href="{% url 'day_detail' week.pk day.id %}">
      <div class="card-panel hoverable">
        <div class="card-content center-align">
          <h4 class="card-title">{{ day.name }}</h4>
        </div>
      </div>
      
    {% empty %}
      <li class="center-align white-text">Add a Day of the Week To Start Planning</li>
      
    {% endfor %}
    <div class="white-text">
      <button class="waves-effect waves-light btn"><a href="{% url 'week_update' object.id %}">Edit Week</a></button>
      <button class="waves-effect waves-light btn"><a href="{% url 'week_delete' object.id %}">Delete Week</a></button>
    </div>
  </ul>
  
{% endblock %}
