
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&display=swap');

    
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 1rem;
}

.sidenav-trigger {
  color: #26a69a;
}

footer.page-footer {
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
}

main {
  flex: 1 0 auto;
}

img{
  margin-top: 1rem;

}

.brand-logo-name{
  margin-left: 7rem;
}

.home-background{
  background-image: url(https://i.imgur.com/4u3fKh6.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.about-bg{
  background-image: url(https://i.imgur.com/6nkJaJU.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.about-bg-text{
  display: flex;
  flex-direction: column;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;

}

.about-bg-text > * {
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
}


.about-p-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-27%, -50%);
  z-index: 2;
  width: 40%;
  height: 70%;
  padding: 7px;
  text-align: center;
}

.about-bg-text > * {
  flex-basis: 50%;
  margin: 10px;
}


.week-background{
  background-image: url(https://i.imgur.com/4u3fKh6.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(8px);
  
}

a {
	text-decoration: none; /* remove underline */
	color: inherit; /* remove blue */
}

.index-bg-text{
  display: flex;
  flex-direction: column;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;

  width: 100%;
  padding: 20px;
  text-align: center;

}

.week-bg-text{
  display: flex;
  flex-direction: column;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;

  width: 100%;
  padding: 20px;
  text-align: center;

}

.day-bg{
  background-image: url(https://i.imgur.com/9Gupzar.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(8px);
  
}

.thumbnail{
  border-radius: 10px;
}

#logo-container{
  
  padding: 7px;
}